  
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin: 15px 0 0 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__theme-menu-button {
    margin: 0 5px 5px 5px;
  }

  .header-title {
    padding-top: 60px;
  }

 .header-paragraph {
    padding: 0;
  } 

  .section-what {
    grid-template-rows: 0.13fr 1fr;
  }

  .reason-block {
    grid-row: 2;
    grid-column: auto;
  }