  
  .header__theme-menu {
    align-self: start;
    justify-self: center;
    margin: 17px 0 0 0;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__theme-menu-button {
    line-height: 18px;
    margin: 0 5px 5px 5px;
  }

  .header__theme-menu-button_active {
  padding: 0 12px 0 12px;
}

  .header-title {
    padding-top: 60px;
  }

 .header-paragraph {
    padding: 0;
    margin-top: 50px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .text-blocks {
    grid-column: span 2;
  }

  .reasons {
    .text-blocks {
      grid-template-columns: repeat(3, 1fr);
    }
  }