  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    margin: 142px 20px 0 0;
  }

 .header-paragraph {
    width: clamp(22.75rem, 49.609vw - 1.063rem, 30.688rem);
  }

  .header-title {
    padding-left: 0;
  }

  .main {
    gap: 80px;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .reasons {
    .text-blocks {
      grid-column: 1/-1;
    }
  }

  .gallery {
    gap: 20px;
  }

 .gallery-div {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.308fr 0.342fr 0.350fr;
  gap: 20px;
 }

 .sunset {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 100%;
 }

 .ice-cream {
  grid-row: 1/3;
  grid-column: 3/4;
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

 .tape {
  grid-column: 1/2;
  grid-row: 2/4;
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

 .street {
  grid-column: 2/4;
  grid-row: 3/4;
 }